<div class="container">
    <div class="row">

        <div class="col text-center">
            {% if prev_file %}
            <h4>Prev: 
                <a href="/interact/{{user}}/{{run}}/{{stage}}/{{prev_file}}"><span style="color: blue;"> {{prev_file}} </span></a>
            </h4> 
            {% endif %}
        </div>

        <div class="col text-center">
            <h4>Curr File: 
                {% if run == "training" %}
                   {{curr_file}}
                {% else %}
                    {{run}}/{{stage}}/{{curr_file}}
                {% endif %}



            </h4>
        </div>

        <div class="col text-center">
            {% if next_file %}
            <h4>Next: 
                <a href="/interact/{{user}}/{{run}}/{{stage}}/{{next_file}}"><span style="color: blue;"> {{next_file}} </span></a>
            </h4> 
            {% endif %}
        </div>
        
    </div>
    
</div>