<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <div class="row py-3 justify-content-center border">
            <!-- Show rubrics! -->
            {% for rubric in rubrics %}

                <div class="col-7 mb-3 text-left ">
                    <strong>{{rubric.name}} </strong>
                    {{ rubric.definition | safe }}
                    
                <br>
                
                <!-- Show dimensions along rubrics -->
                {% for rd in rubric_dimensions %} 
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{rubric.shortname}}" id="{{rubric.shortname}}-{{rd.value}}" value="{{rd.value}}">
                        <label class="form-check-label mx-2" for="{{rubric.shortname}}-{{rd.value}}">{{rd.name | safe }}</label>
                    </div>
                {% endfor %}
                
                </div>
            {% endfor %}

            <!-- Show rubrics! -->
            {% for rubric in understand_rubrics %}

                <div class="col-7 mb-3 text-left ">
                    <strong>{{rubric.name}} </strong>
                    {{ rubric.definition | safe }}
                    
                <br>
                
                <!-- Show dimensions along rubrics -->
                {% for rd in understand_rubric_dimensions %} 
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="{{rubric.shortname}}" id="{{rubric.shortname}}-{{rd.value}}" value="{{rd.value}}">
                        <label class="form-check-label mx-2" for="{{rubric.shortname}}-{{rd.value}}">{{rd.name}}</label>
                    </div>
                {% endfor %}
                
                </div>
            {% endfor %}

            <!-- Show rubrics! -->
            {% for rubric in quality_rubrics %}

                <div class="col-7 mb-3 text-left">
                    <strong>{{rubric.name}} </strong>
                    {{ rubric.definition | safe }}
                    
                <br>
                
                <!-- Show dimensions along rubrics -->
                {% for rd in quality_rubric_dimensions %} 
                    <div class="form-check">
                        <input class="form-check-input " type="checkbox" name="{{rubric.shortname}}" id="{{rubric.shortname}}-{{rd.value}}" value="{{rd.value}}">
                        <label class="form-check-label mx-2" for="{{rubric.shortname}}-{{rd.value}}">{{rd.name}}</label>
                    </div>
                {% endfor %}
                
                </div>
            {% endfor %}
            </div>


        </div>